.Fleet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 50px;
  margin: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;

 

  .fleet-cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-color: #fafafa;
    padding: 50px;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;

    -webkit-box-shadow: 13px 9px 36px -26px rgba(66, 68, 90, 1);
    -moz-box-shadow: 13px 9px 36px -26px rgba(66, 68, 90, 1);
    box-shadow: 13px 9px 36px -26px rgba(66, 68, 90, 1);


      .card-grp {
        align-items: center;
        justify-content: center;
      }
  }
}
