.About {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;

    .title-h1 {
        margin: 0px 0;
        padding: 45px 0;
        border-top: 1px solid #d9d9d9;
        font-size: 2.4rem;

    }

    
}

.icons-grid {
    font-size: 1.2rem;

}

.about-grid {
    margin: 50px 0;
    font-size: 1.2rem;
}

.about-cont {
    margin: 4rem 0;
}

.partner-image {
    width:12vh;
    height: 12vh;
    margin: 0 auto;

}

.partners-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
}

