
.HeaderPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.hd-cont {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hd-cont__search {
    margin: 0 25px;
}