.Profile {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    
    h2 {
        border-bottom: 2px solid #e0e0e0;
        font-size: 2.5rem;
    }
    .Profile__buttons {
        height: 500px;
        width: 400px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        background-color: #fafafa;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

        .btn {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 1rem 0;
        }
        .profile-btn {
            background-color: #e0e0e0;
            border-radius: 5px;
            padding: 1.5rem;
            font-size: 1.5rem;
            margin: 0.5rem 0;
            color: #f0f0f0;
        }
        .btn-1{
            background-color: #d01919;
        }

        .btn-2{
            background-color: #1678c2;
        }

        .btn-3{
            background-color: #16ab39
        }
    }
}


